<div class="background-image-apresentacao">
    <div class="container-conteudo">
        <div class="button-donate-online-logo">
            <button type="button" class="btn btn-danger"><img src="../../assets/img/icones/contorno-em-forma-de-coracao.png"
                    alt=""></button>
        </div>
        <h2>“Pray! And listen to God! You can do this alone, but
            <br> find somebody to do it with you”
        </h2>

        <div class="font-conteudo-banner">
            <p class="font">Real Story Cross Journey from Anna Hampton</p>
        </div>
        <div class="button-donate-online">
            <button type="button" class="btn btn-outline-danger">DONATE ONLINE</button>
        </div>
    </div>
</div>