.background {
    margin-top: 100px;
}

.image-igreja {
    text-align: center;
}

.image-igreja img {
    width: 90%;
    text-align: left;
    position: relative;
    bottom: 44px;
}

.informacoes p {
    margin-bottom: 30px;
}

.informacoes h2 {
    font-family: 'Poppins';
    font-weight: 700;
    color: #252525;
}

.informacoes h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 15px;
}

.linha-vermelha img {
    width: 75px;
    margin-bottom: 30px;
}

.font-damion {
    font-family: Damion;
    font-size: 25px;
    color: #8d9297;
    font-weight: 400;
}

.icones-sobre img {
    width: 55px;
    margin-bottom: 30px;
}


.button-sobre button {
    padding: 9px 32px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.font-poppins {
    font-family: 'Poppins';
    color: #8d9297;

}

.font-poppins h3 {
    font-family: 'Poppins';
    color: #252525;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 19px;
}

