<div class="container conteudo">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

        <div ngxSlickItem *ngFor="let slide of slides" class="slides-1 ">
            <div class="container-slider-segundo festas-igreja">
                <div class="container-slider-single">
                    <div class="card mb-3">
                        <div class="row g-0 slider-events">
                            <div class="col-lg-2 col-sm-3">
                                <img src="../../assets/img/icones/datas.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-9 col-sm-8">
                                <div class="conteudo-events">
                                    <h5 class="card-title">Event:Refleact The Community And Serving</h5>

                                    <a href="#">Event Details</a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 img-calendario">
                                <img src="../../assets/img/icones/calendario.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ngxSlickItem *ngFor="let slide of slides" class="slides-2">
            <div class="container-slider-segundo festas-igreja">
                <div class="container-slider-single">
                    <div class="card mb-3">
                        <div class="row g-0 slider-events">
                            <div class="col-lg-2 col-sm-3">
                                <img src="../../assets/img/icones/datas.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-9 col-sm-8">
                                <div class="conteudo-events">
                                    <h5 class="card-title">Event:Refleact The Community And Serving</h5>

                                    <a href="#">Event Details</a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 img-calendario">
                                <img src="../../assets/img/icones/calendario.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ngxSlickItem *ngFor="let slide of slides" class="slides-3">
            <div class="container-slider-segundo festas-igreja">
                <div class="container-slider-single">
                    <div class="card mb-3">
                        <div class="row g-0 slider-events">
                            <div class="col-lg-2 col-sm-3">
                                <img src="../../assets/img/icones/datas.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-9 col-sm-8">
                                <div class="conteudo-events">
                                    <h5 class="card-title">Event:Refleact The Community And Serving</h5>

                                    <a href="#">Event Details</a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 img-calendario">
                                <img src="../../assets/img/icones/calendario.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ngxSlickItem *ngFor="let slide of slides" class="slides-4">
            <div class="container-slider-segundo festas-igreja">
                <div class="container-slider-single">
                    <div class="card mb-3">
                        <div class="row g-0 slider-events">
                            <div class="col-lg-2 col-sm-3">
                                <img src="../../assets/img/icones/datas.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-9 col-sm-8">
                                <div class="conteudo-events">
                                    <h5 class="card-title">Event:Refleact The Community And Serving</h5>

                                    <a href="#">Event Details</a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 img-calendario">
                                <img src="../../assets/img/icones/calendario.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ngxSlickItem *ngFor="let slide of slides" class="slides-5">
            <div class="container-slider-segundo festas-igreja">
                <div class="container-slider-single">
                    <div class="card mb-3">
                        <div class="row g-0 slider-events">
                            <div class="col-lg-2 col-sm-3">
                                <img src="../../assets/img/icones/datas.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-9 col-sm-8">
                                <div class="conteudo-events">
                                    <h5 class="card-title">Event:Refleact The Community And Serving</h5>

                                    <a href="#">Event Details</a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 img-calendario">
                                <img src="../../assets/img/icones/calendario.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ngxSlickItem *ngFor="let slide of slides" class="slides-6">
            <div class="container-slider-segundo festas-igreja">
                <div class="container-slider-single">
                    <div class="card mb-3">
                        <div class="row g-0 slider-events">
                            <div class="col-lg-2 col-sm-3">
                                <img src="../../assets/img/icones/datas.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-lg-9 col-sm-8">
                                <div class="conteudo-events">
                                    <h5 class="card-title">Event:Refleact The Community And Serving</h5>

                                    <a href="#">Event Details</a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 img-calendario">
                                <img src="../../assets/img/icones/calendario.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>
