<nav
    class=" header navbar navbar-1 navbar-expand-lg topba d-none d-sm-block d-lg-none d-xl-block d-block d-block d-sm-none">

    <div class="container"></div>
    <div class="container">
        <a class="icon-location" href="#"><img src="../../../assets/img/icones/pin.png" alt="">684 West College St.
            Sun
            City, USA</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="size-icons-social-networks">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=551131043888"><img
                            src="../../../assets/img/icones/logo-do-facebook.png" alt="facebook"></a>
                </div>
            </li>
            <li class="nav-item distancia">
                <div class="size-icons-social-networks">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=551131043888"><img
                            src="../../../assets/img/icones/logo-do-facebook.png" alt="instagram"></a>
                </div>
            </li>
            <li class="nav-item">
                <div class="size-icons-social-networks">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=551131043888"><img
                            src="../../../assets/img/icones/logo-do-facebook.png" alt="twitter"></a>
                </div>
            </li>
            <li class="nav-item">
                <div class="size-icons-social-networks">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=551131043888"><img
                            src="../../../assets/img/icones/logo-do-facebook.png" alt="twitter"></a>
                </div>
            </li>
            <li class="nav-item">
                <div class="size-icons-social-networks">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=551131043888"><img
                            src="../../../assets/img/icones/logo-do-facebook.png" alt="twitter"></a>
                </div>
            </li>
            <li class="nav-item">
                <div class="size-icons-social-networks networks">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=551131043888"><img
                            src="../../../assets/img/icones/logo-do-facebook.png" alt="twitter"></a>
                </div>
            </li>
            <li class="nav-item">
                <div class="social-network-icons-magnifying-glass">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=551131043888"><img
                            src="../../../assets/img/icones/lupa.png" alt="twitter"></a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar header-2 navbar-expand-lg d-none d-sm-block d-lg-none d-xl-block d-block d-block d-sm-none">
    <div class="container">
        <a class="navbar-brand logo" href="#"><img
                src="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2022/07/logo-light-new.png"
                alt="cgadm"></a>
        <ul class="nav justify-content-end navbar-collapse navgation" id="navbarSupportedContent">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <p>HOME<span>+</span></p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#historia">
                    <p>PAGES<span>+</span></p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#comunicado">
                    <p>SERMONS<span>+</span></p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#diretoria">
                    <p>MINISTRIES<span>+</span></p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cadastro-ministros">
                    <p>BLOG<span>+</span></p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#departamentos">
                    <p>CONTACT US</p>
                </a>
            </li>
            <button type="button" class="btn btn-danger">DONATE</button>
            
        </ul>
    </div>
</nav>

<header class="header navbar navbar-expand-xl bg-light shadow-sm fixed-top d-xxl-none d-xxl-block d-xl-none">
    <div class="container px-3">
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <div class="logo-mobile"><img
                        src="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/11/mobile-logo-dark.png"
                        alt=""></div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 secoes-mobile">
                    <li class="nav-item row">
                        <div class="col">
                            <a href="components/typography.html" class="nav-link">HOME</a>
                        </div>
                        <div class="col"><span>+</span></div>
                    </li>
                    <li class="nav-item row">
                        <div class="col">
                            <a href="components/typography.html" class="nav-link">PAGES</a>
                        </div>
                        <div class="col"><span>+</span></div>
                    </li>
                    <li class="nav-item row">
                        <div class="col">
                            <a href="components/typography.html" class="nav-link">SERMONS</a>
                        </div>
                        <div class="col"><span>+</span></div>
                    </li>
                    <li class="nav-item row">
                        <div class="col">
                            <a href="components/typography.html" class="nav-link">MINISTRIES</a>
                        </div>
                        <div class="col"><span>+</span></div>
                    </li>
                    <li class="nav-item row">
                        <div class="col">
                            <a href="components/typography.html" class="nav-link">BLOG</a>
                        </div>
                        <div class="col"><span>+</span></div>
                    </li>
                    <li class="nav-item">
                        <a href="components/typography.html" class="nav-link">BLOG</a>
                    </li>
                   
                </ul>
            </div>

        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="#" class="navbar-brand pe-3 logo-img">
            <img src="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/11/mobile-logo-dark.png" width="47" alt="Silicon">
        </a>
        <a href="#" class="navbar-brand pe-3 lupa-mobile">
            <img src="../../../assets/img/icones/lupa-mobile.png" width="47" alt="Silicon">
            
        </a>

    </div>
</header>


