<footer class="site-footer footer-template-custom">
    <div class="footer-middle-wrap final-pagina">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-middle-sidebar">
                        <section id="text-2" class="widget widget_text ">
                            <div class="row">
                                <div class="col-auto img-cruz">
                                    <img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="">
                                </div>

                                <div class="col-auto">
                                    <h3 class="widget-title">About Zegen</h3>
                                </div>
                            </div>
                            <div class="textwidget">
                                <section id="text-2" class="widget widget_text">
                                    <div class="textwidget">
                                        <p>Zegen Church WordPress Theme is professionaly designed for
                                            &nbsp;non-profit church, modern church, prayer group, Christian,
                                            charity, non-profit organization. Grab it soon!</p>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <section id="zozo_social_widget-1" class="widget zozo_social_widget">
                            <div class="row">
                                <div class="col-2"><button type="button" class="btn btn-danger"><img
                                            src="../../assets/img/icones/logo-do-facebook.png" alt=""></button></div>
                                <div class="col-2"><button type="button" class="btn btn-danger"><img
                                            src="../../assets/img/icones/logo-do-facebook.png" alt=""></button></div>
                                <div class="col-2"><button type="button" class="btn btn-danger"><img
                                            src="../../assets/img/icones/logo-do-facebook.png" alt=""></button></div>
                                <div class="col-2"><button type="button" class="btn btn-danger"><img
                                            src="../../assets/img/icones/logo-do-facebook.png" alt=""></button></div>
                                <div class="col-2"><button type="button" class="btn btn-danger"><img
                                            src="../../assets/img/icones/logo-do-facebook.png" alt=""></button></div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-middle-sidebar">
                        <section id="text-2" class="widget widget_text ">
                            <div class="row">
                                <div class="col-auto img-cruz">
                                    <img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="">
                                </div>

                                <div class="col-auto">
                                    <h3 class="widget-title">Quick Links</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="">
                                </div>
                                <div class="col-auto">
                                    <p>Who We Are?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="">
                                </div>
                                <div class="col-auto">
                                    <p>Support and FAQ’s</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="">
                                </div>
                                <div class="col-auto">
                                    <p>Payments</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="">
                                </div>
                                <div class="col-auto">
                                    <p>Donations Terms</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto img-estrela">
                                    <img src="../../assets/img/icones/estrela-vermelha.png" width="17px" alt="">
                                </div>
                                <div class="col-auto">
                                    <p>Volunteer</p>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-middle-sidebar">
                        <section id="zegen_latest_post_widget-1" class="widget zegen_latest_post_widget">
                            <div class="row">
                                <div class="col-auto img-cruz">
                                    <img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="">
                                </div>

                                <div class="col-auto">
                                    <h3 class="widget-title">Latest News</h3>
                                </div>
                            </div>
                            <div class="widg-content">

                                <div class="side-item">
                                    <div class=" mb-2" style="max-width: 540px;">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/10/church-theme-blog-7-1-80x80.jpg"
                                                    class="img-fluid rounded-start" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <h5>Giving Back – Uganda Training Centers</h5>
                                                <p>Oct 21, 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" mb-2" style="max-width: 540px;">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/10/church-theme-blog-7-1-80x80.jpg"
                                                    class="img-fluid rounded-start" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <h5>Giving Back – Uganda Training Centers</h5>
                                                <p>Oct 21, 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-middle-sidebar">
                        <section id="zegen_mailchimp_widget-1" class="widget zegen_mailchimp_widget">
                            <div class="row">
                                <div class="col-auto img-cruz">
                                    <img src="../../assets/img/icones/icone-cruz.png" width="100%" alt="">
                                </div>

                                <div class="col-auto">
                                    <h3 class="widget-title">Newsletter</h3>
                                </div>
                            </div>
                            <div class="mailchimp-wrapper">
                                <form class="zozo-mc-form" id="zozo-mc-form" method="post">

                                    <p class="zozo-mc-subtitle">Sign up for our weekly newsletter to stay
                                        updated on
                                        all news and events at Zegen Church. Email updates on new product
                                        Announcements, Gift Ideas, Special Promotions and More.</p>
                                    <input type="hidden" name="zegen_mc_listid" value="38e2b49613">

                                    <div class="input-group">
                                        <input type="text" class="form-control zozo-mc-email" id="zozo-mc-email"
                                            placeholder="Email Address" name="zozo_mc_email">
                                        <div class="botao">
                                            <input class="input-group-addon zozo-mc btn btn-default" type="button"
                                                name="Sign Up " value="Sign Up ">
                                        </div>
                                    </div>

                                </form>
                                <!--Mailchimp Custom Script-->

                                <div class="mc-notice-group" data-success="You are subscribed now."
                                    data-fail="Please enter valid email address">
                                    <span class="mc-notice-msg"></span>
                                </div><!-- .mc-notice-group -->
                            </div><!-- .mailchimp-wrapper -->

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-inner container">
            <div class="row">
                <div class="col-lg-4 conteudo-final-banner">Copyrights © 2023 Zegen. Designed by Zozothemes ♥</div>
                <div class="col-lg-4">Copyrights © 2023 Zegen. Designed by Zozothemes ♥</div>
            </div>
        </div>
    </div>

    <a href="#" class="back-to-top position-right" id="back-to-top" style=""><i class="ti-angle-up"></i></a>
</footer>