.conteudo {
    margin-bottom: 100px;
}

.container-slider-single {
    float: left;
    padding: 15px;
}

.container-slider-single a {
    font-family: 'Poppins';
    font-weight: 600;
    color: #7f1c1c;
    text-decoration: none;
    border-bottom: 2px solid red;
}

.container-slider-single h5 {
    margin-bottom: 15px;
    font-size: 23px;
    font-family: 'Poppins';
    font-weight: 700;
}

.card {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.139);
    border: none;
}

.card-body {
    margin: 20px 10px 20px 10px;   
}

.out-ministries {
    text-align: center;
}

.out-ministries img {
    width: 80px;
    margin: -8px auto 30px auto;
}

.out-ministries h2 {
    margin-bottom: 30px;
    font-size: 33px;
    font-family: 'Poppins';
    font-weight: 700;
}

.out-ministries h6 {
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 110px;
    color: rgb(60, 85, 85);
}
